annotated-types==0.7.0
attmap==0.13.2
attrs==25.3.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
coloredlogs==15.0.1
eido==0.2.4
humanfriendly==10.0
idna==3.10
Jinja2==3.1.6
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
logmuse==0.2.8
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
numpy==2.2.6
oyaml==1.0
pandas==2.2.3
pephubclient==0.4.5
peppy==0.40.7
piper-tts
pipestat==0.12.1
psutil==7.0.0
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
pyreadline3==3.5.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.3
rich==14.0.0
rpds-py==0.25.1
setuptools==80.8.0
shellingham==1.5.4
six==1.17.0
sounddevice==0.5.2
typer==0.15.4
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
ubiquerg==0.8.1
urllib3==2.4.0
openai-whisper==20240930
yacman==0.9.3

pvporcupine~=3.0.5
PyAudio~=0.2.14